<footer>
    <span>Created By <a href="#">Esiepe</a> | <a href="">Layton</a> | <a href="">Mvoi</a>
      <span class="far fa-copyright"></span> 2023 All Rights Reserved.</span>
    <div class="follow">
      <a href="https://web.facebook.com/esi3pe/" class="fab fa-facebook-f" target="_blank"></a>
      <a href="https://twitter.com/EsiepeO" class="fab fa-twitter" target="_blank"></a>
      <a href="https://github.com/esiepe" class="fab fa-github" target="_blank"></a>
      <a href="https://www.instagram.com/esiepe._/" class="fab fa-instagram" target="_blank"></a>
      <a href="www.linkedin.com/in/owen-esiepe" class="fab fa-linkedin" target="_blank"></a>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
      <script src="/static/script.js"></script>
    </div>
  </footer> 