{% extends 'base.html' %}

{% block title %} KABU CS HUB | 4.1 {% endblock %}

{% block content %}

<section class="notes" id="notes">
  <h2 class="title">Unit Notes</h2>
  <div class="container text-center">
    <div class="row">
      {% for note in notes %}
      <div class="col-sm-12 col-md-4">
        <div class="notes-card">
          <div class="notes-unit">
            <div class="icon"><i class="fa-solid fa-gears"></i></div>
            <h3 class="unit-name">{{note[2]}}</h3>
            <div class="button">
              <a href="{{url_for('download',table='notes',id=note[0])}}" download>Download Notes</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <!-- <div class="col-sm-12 col-md-4">
        <div class="notes-card">
          <div class="notes-unit">
            <div class="icon"><i class="fa-solid fa-robot"></i></div>
            <h3 class="unit-name">COMP 411</h3>
            <div class="button">
              <a href="files/BIBL 110 NOTES JAN 2022.docx" download>Download Notes</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="notes-card">
          <div class="notes-unit">
            <div class="icon"><i class="fa-solid fa-gears"></i></div>
            <h3 class="unit-name">COMP 412</h3>
            <div class="button">
              <a href="files/BIBL 110 NOTES JAN 2022.docx" download>Download Notes</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="notes-card">
          <div class="notes-unit">
            <div class="icon"><i class="fa-solid fa-microchip"></i></div>
            <h3 class="unit-name">COMP 414</h3>
            <div class="button">
              <a href="files/BIBL 110 NOTES JAN 2022.docx" download>Download Notes</a>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</section>
<section class="notes" id="exams">
  <h2 class="title">Past Papers</h2>
  <div class="container text-center">
    <div class="row">
      {% for paper in papers %}
      <div class="col-sm-12 col-md-4">
        <div class="notes-card">
          <div class="notes-unit">
            <div class="icon"><i class="fa-solid fa-gears"></i></div>
            <h3 class="unit-name">{{paper[2]}}</h3>
            <div class="button">
              <a href="{{url_for('download',table='papers',id=paper[0])}}" download>Download Past Papers</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <!-- <div class="col-sm-12 col-md-4">
        <div class="notes-card">
          <div class="notes-unit">
            <div class="icon"><i class="fa-solid fa-robot"></i></div>
            <h3 class="unit-name">COMP 411</h3>
            <div class="button">
              <a href="files/BIBL 110 NOTES JAN 2022.docx" download>Download Past Papers</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="notes-card">
          <div class="notes-unit">
            <div class="icon"><i class="fa-solid fa-gears"></i></div>
            <h3 class="unit-name">COMP 412</h3>
            <div class="button">
              <a href="files/BIBL 110 NOTES JAN 2022.docx" download>Download Past Papers</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="notes-card">
          <div class="notes-unit">
            <div class="icon"><i class="fa-solid fa-microchip"></i></div>
            <h3 class="unit-name">COMP 414</h3>
            <div class="button">
              <a href="files/BIBL 110 NOTES JAN 2022.docx" download>Download Past Papers</a>
            </div>
          </div>
        </div>
      </div>
      </div> -->
  </div>
</section>
<section class="videos" id="videos">
  <h2 class="title">YouTube</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="card" style="width: 100%; height: fit-content;">
          <img src="https://img.youtube.com/vi/W6yEALqsD7k/0.jpg" class="card-img-top" alt="Video Thumbnail 1">
          <div class="card-body">
            <h5 class="card-title">Computer Graphics (CMU 15-462/662)</h5>
            <p class="card-text"></p>
            <a href="https://www.youtube.com/watch?v=W6yEALqsD7k&list=PL9_jI1bdZmz2emSh0UQ5iOdT2xRHFHL7E" class="btn" target="_blank">Watch Now</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="card" style="width: 100%; height: fit-content;">
          <img src="https://img.youtube.com/vi/5NgNicANyqM/0.jpg" class="card-img-top" alt="Video Thumbnail 1">
          <div class="card-body">
            <h5 class="card-title">Harvard CS50’s Artificial Intelligence with Python – Full University Course</h5>
            <p class="card-text"></p>
            <a href="https://www.youtube.com/watch?v=5NgNicANyqM" class="btn" target="_blank">Watch Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</section>


{% endblock %}