{% extends 'base.html' %}

{% block title %} KABU CS HUB | Useful_links {% endblock %}

{% block content %}

  <style>
    body {
      background-color: #f8f9fa;
    }
    .coming-soon-container {
      text-align: center;
      padding: 100px;
    }
    .coming-soon-text {
      font-size: 2rem;
      font-weight: bold;
      color: #343a40;
      margin-bottom: 20px;
    }
    .countdown-timer {
      font-size: 1.5rem;
      color: #343a40;
    }
    </style>
  <div class="coming-soon-container" style="margin-bottom: 45vh;">
    <h1 class="coming-soon-text">Coming Soon</h1>
    <p class="countdown-timer">We're working on something awesome! Stay tuned.</p>
    <!-- You can add a countdown timer here using JavaScript -->
  </div>

 {% endblock %}